# Case 6: Data Cleaning (Tidy Data)

Data semantics
Datasets contain values
Numbers (quantitative, or numerical)
Strings (qualitative, or categorical)
Dates + times (quantitative, or parts of dates and times can be categorical)
Think of a table as a spreadsheet of values, describing the attributes of a type of thing which can be named, like people, corporations, phone numbers, trips people took, recipes, ingredients, experimental measurements, etc.
The rows are the individual instances of that thing the table is recording
The columns describe the various attributes of that individual instance of the thing
So, every value belongs to a variable (column) and an observation (row)
A variable contains all values of the same attribute (height, temperature, duration...)
An observation contains all values recorded on one instance or unit (one person, one day, one trip, one company, one letter someone wrote...)


A new way to think about the data
The dataset contains 18 values representing 3 variables and 6 observations
person, with three possible values (John, Mary and Jane)
treatment, with two possible values (a and b)
result, with five or six possible values, depending on how you think of the missing value (-, 16, 3, 2, 11, 1)
Tidy data
Tidy data is a standard way of mapping the meaning of a dataset to its structure. A dataset is messy or tidy depending on how rows, columns and tables are matched up with observations, variables and types.
In tidy data
Each variable forms a column
Each observation forms a row
Each type of observational unit forms a table
messy data is any other arrangement of the data.

Eric Monson's Workshops:

https://library.capture.duke.edu/Panopto/Pages/Viewer.aspx?id=c592edf5-bfe7-45a8-ad09-f4a2a87532c6
    
Tidy Data in Python
https://library.capture.duke.edu/Panopto/Pages/Viewer.aspx?id=d8a3efe2-48d7-4505-acd3-a943013c2442

Structuring Humanities Data
https://library.capture.duke.edu/Panopto/Pages/Viewer.aspx?id=e014fbae-2bf0-4048-8e67-9ec7b411c573

https://github.com/emonson/tidy-data-python

https://github.com/emonson/JupyterPythonIntro/blob/master/01_people_states_split.ipynb

http://www.jeannicholashould.com/tidy-data-in-python.html

Merging two data sets

df.melt() specify columns you do not want to melt

df.melt(id_vars=['column']) 
or
df.melt(value_vars=[...]) will ignore other variables

df.melt(id_vars=['column'], value_vars=[], var_name='name', value_name='name2')