# Basic Python Data Types I: Numerical Values

In the first lesson, we were introduced to the notion of semantics, or meaning. 

In this lesson we learn about some basic units of meaning in python: the basic data types of strings, integers, and floats.  

We focus on numerical data types and their mathematical operators.

In [ ]:
# Run this cell to import lesson exercises
from QuestionsBDT import Q1,Q2,Q3,Q4,Q5, question, solution

---
## Lesson goals:
- Learn to check data types
- Learn to convert data types
- Basic data types: str, bool, int, float
- Numerical operators

**Key Concepts:** strings, integers, floats, numerical operators, string operators, indexing and slicing

---
# Basic Data Types

Some default object classes, with their attributes and methods, exist in Python. Let's look at the most basic and essential types among them, the structures created to hold single values.

>A **string** is a piece of text, a sequence of characters that is expressed in between quotes (single or double).
    
>An **integer** is a whole number.

>A **float (floating point)** is a number with a decimal point.

>A **boolean** is a True or False, 0 or 1, value.

Other datatypes exist, such as Decimal or Fraction, for more precise mathematical needs.

## Checking a Variable's Datatype

Strings, booleans, integers and floats are classes (types) of objects.

You can store them as **variables** by assigning them a name with the equals sign.  We did this in the previous lesson.

Let's create a variable containing text data. Note that not surrounding the text with quotes gives us an error:

In [ ]:
artist = Frida Kahlo # gives an error!

Instead, by surrounding the text by quotes (single or double), we create a string type variable.

In [ ]:
artist = 'Frida Kahlo' # note the quotes

We can double check what type of data the variable we defined is by using the function **type()**:

In [ ]:
type(artist)

Let's also create a variable for the artist's birth year:

In [ ]:
year_of_birth = '1907'

Have you caught the problem? Use the code cell below to check the variable's type.

In [ ]:
solution(Q1)

---
## Converting Between Datatypes

We can also **convert a variable's data type**. The functions **str()**, **int()** and **float()** will convert an object to the respective type, if possible. 

**Exercise:** Use the code cell below to convert the artist's birth year to an integer. 

Note that we must apply the function and assign its output to a variable. In this case, we are reassigning to the existing variable, to avoid creating unnecessary objects.

In [ ]:
year_of_birth = ___(year_of_birth)

In [ ]:
year_of_birth

In [ ]:
question(Q2)

In [ ]:
question(Q3)

---
# Working with Numerical Data Types

The two numerical data types we have looked at are integers and floats.

To revisit, **integers** contain whole numbers, while **floats** are numbers with decimals. 

You can convert floats to integers. Just note that no rounding is done; instead, the decimals are just removed.

# Numerical Operators 

At this basic level, we can conduct operations with integers and floats with the typical mathematical operators.

|symbol | operation| description|
|--|-|-|
| + | add| returns the sum of two numbers|
| - | subtract| returns the difference between two numbers|
| * | multiply| returns the product of two numbers|
| / | divide| returns the result of the division between two numbers|
| // | floor division | returns the result of division, excluding fractions|
| % | remainder| returns the remainder of the division|
| ** | power| exponentiates one number by the other|

You can group operations or modify order by putting them in parentheses.

## Order of Operations

Python follows the mathematical convention of PEMDAS. Mathematical expressions are resolved in this order, from highest to lowest:

**P** Parentheses

**E** Exponentiation

**M,D** Multiplication and Division

**A,S** Addition and subtraction,

Where M and D are given the same level of preference, as are A and S. Operators with the same preference are resolved from left to right. 

---
## Let's play around with some numbers.

We already defined our artist's year_of_birth. Let's create some new variables:

In [ ]:
year_of_death = '1954'
years_active = 28.5

Calculate the lifespan of the artist below by inserting the appropriate functions and operator. You should get a value of 47.

In [ ]:
lifespan =

In [ ]:
question(Q4)

In [ ]:
question(Q5)

Subtracting strings gives us an error. But when adding, the data types become even more important, because they won't give you an error but might give you an unexpected result.

As integers, the operation works as expected, returning the year of death:

In [ ]:
int(year_of_birth) + lifespan

But we could also add them as strings...

In [ ]:
str(year_of_birth) + str(lifespan)

This has given not given us the output of mathematical addition. Instead, has concatenated the two strings. Let's learn more about strings, in the next lesson.

---
# Lesson Summary

- Strings, integers and floats are some basic data types
- You can check a value's data type with type()
- And convert between them with str(), int() and float().
- Mathematical operators work on numbers
- Care must be taken with data types and operations to avoid unexpected results

---
# Further Resources

Py4e?