### Navigation Reminder

- **Grey cells** are **code cells**. Click inside them and type to edit.
- **Run**  code cells by pressing $ \triangleright $  in the toolbar above, or press ``` shift + enter```.
-  **Stop** a running process by clicking &#9634; in the toolbar above.
- You can **add new cells** by clicking to the left of a cell and pressing ```A``` (for above), or ```B``` (for below). 
- **Delete cells** by pressing ```X```.
- Run all code cells that import objects (such as the one below) to ensure that you can follow exercises and examples.
- Feel free to edit and experiment - you will not corrupt the original files.

# Pandas I: Accessing and Exporting your Tabular Data

(Adapted from Eric Monson's Pandas workshops, see resources below)

There are several ways one could structure CSV data, such as in lists of lists, combinations of dictionaries and lists, or numpy arrays, but the Pandas module provides an efficient functionality for working with tabular data (i.e., spreadsheets) such as .csvs or Excel files.

We have seen the Pandas Dataframe in previous lessons; in this lesson, we learn the many ways we can access data within Dataframes.

---
Questions and exercises are distributed throughout this lesson. Please run the code cell below to import them before starting the lesson. The code will not produce any visible output, but exercises and questions will be loaded for later use.

In [3]:
# import exercises for this lesson
from QuestionsPandas import E1, E2, question, solution

---
## Lesson Goals

- **Import** .csv and Excel spreadsheets with Pandas
- Assign row **indices**
- Access information through **[]**, **.loc[]**,.iloc[] and recognize . notation
- Select data within columns with conditionals
- **Export** spreadsheets as files

**Key Concepts:** DataFrame, Series, index

---
# Importing Files with Pandas

Pandas works well for importing CSV files and Excel spreadsheets.

We have imported CSVs before, in the 'Files' lesson of our course. As a refresher, the basic command is:

```python
file = pd.read_csv('filename.csv')
```

Where we are using the read_csv() method and assigning the object created to the variable 'file'.

Similarly, Pandas has another command for importing Excel spreadsheets. Excel files have the added complication that they can hold many spreadsheets at once, so you may have to specify the sheet in question:

```python
file = pd.read_excel('file.xlsx', sheet_name='sheetname')
```

Let's import an Excel spreadsheet to use as an example for this lesson.

In [1]:
import pandas as pd

objects_table = pd.read_excel('Other_files/NGADataSample.xlsx', sheet_name= 'objects')

# An initial view of the DataFrame

We can gauge the contents of the dataframe in a few ways, upon opening it. Pandas offers a few methods that can help.

```df.head()``` and ```df.tail()``` allow us to see the first and last rows of the dataframe, respectively.

In [ ]:
objects_table.head()

If we want to specify the number of rows to view, we can include that number in the parentheses:

In [ ]:
objects_table.tail(3)

As we can see, this helps us get a first view of the dataframe, but our dataframe is too wide to show all  columns. We can generate a list of columns with  ```df.columns```.  

**Note:** You might notice that this command does not have a parenthesis; that is because it is an attribute of the dataframe, not a method (function).

In [ ]:
objects_table.columns

# The Pandas Dataframe

> **Pandas Series:** One-dimensional container for data. Each series has an index and potentially a name, as well as a data type.

> **Pandas DataFrame:** Two-dimensional tabular structure with labels (rows and columns), where each column is a series.

Columns in a Pandas DataFrame are each a Series, with a name (the column header) and an index. The index numbers are the labels for the entries within a series. These keep the columns aligned correctly into rows, preserving the integrity of the data. 

One of the advantages of the DataFrame is that it allows us to store different types of values in different columns, including numbers, strings, and null values. Each column has a data type, which you can check using ``` df.dtypes```:

In [ ]:
objects_table.dtypes

The naming of object types on Pandas is slightly different from the built-in Python datatypes, but refers to similar structures.

| Pandas Datatype| Python Datatype |
|--|--|
|object|str or mixed|
|int64|int|
|float64|float|
|bool|bool|

>Source: https://pbpython.com/pandas_dtypes.html

# Specifying the index

If you do not specify an index for rows, Pandas will create an index of integers, as it did above (the untitled column to the left).

In [ ]:
objects_table.index

We can **specify an index** from one of the columns of our dataframe. It do not have to be numbers: they can be any identifier including integers, strings or dates. We can even use a column with non-unique values, but this might cause difficulties later on.

There are two ways to specify an index: we can do so when we create the DataFrame, or after it has been created. 

To specify an index **when creating** the dataframe, add the following argument when using read_csv (or equivalent):

```python
df = pd.read_csv('filename.csv', index_col='col_name')
```

To specify an index **after creating** the DataFrame, use:

```python
df = df.set_index('col_name')
```

By now, you should understand that we are reassigning the variable 'df' to this updated dataframe.

Alternatively, using

```python
df.set_index('Year', inplace=True)
```

would allow us to forgo that reassignment.

Let's specify our DataFrame's index as objectid:

In [21]:
objects_table = objects_table.set_index('objectid')

**Exercise 1** **Import** the excel spreadsheet "people" from the file path Other_files/NGADataSample.xlsx as a DataFrame called 'people_table'. **Have a first look at the DataFrame** using one of the methods previously introduced and **set an appropriate index using the df.set_index() method with the 'inplace' parameter**.

In [ ]:
people_table = __________

In [8]:
solution(E1)

people_table = pd.read_csv('Other_files/NGAData/constituents.csv')
people_table.head() / people_table.tail() / people_table.columns
people_table.set_index('constituentid',inplace=True)

---
# Accessing Information in DataFrames

We can call data in a cell, column or row by using labels and indexes. Despite how basic this [] is, there are different, overlapping ways to do this, and these can cause some confusion. We will introduce the preferred methods for accessing data, as well as a few other methods because you will encounter them in documentation and existing examples (and there are more!). But we recommend sticking to the methods developed in detail. 

---

## 1. One-dimensional indexing: **Square Brackets []**

Using square brackets alone, you can perform selections of different types based on one dimension (columns or rows, depending on whether you use column names or index values).  It can get complex because it will yield varying output depending on what you put into the square brackets.

### Square Brackets with Column Names

To fetch a **single column**, simply specify the **column name** inside square brackets. 

```python
df['column_name']
```

For instance, let's fetch the 'title' column from our dataframe using this notation:

In [56]:
objects_table['title']

objectid
25251                                        Pewter Pitcher
2856                               La soiree des Thuileries
48032                                       Haiku by Soseki
126911                               A Leg and a Pig's Head
48317                                   Antonio Vassilacchi
15869                           Pa. German Flat-iron Holder
196432                                        Le Protecteur
131491                              Gaby in a Chaise Longue
145006                                               Dahlia
39440          The Actor Smith (Portrat Schauspieler Smith)
55973                                 Skin with O'Hara Poem
114608                                 Pensee philosophique
15576                          Pa. German Birth Certificate
165147    The Rape of Deianeira (formerly the Rape of Pr...
70059                                  Fire in the Barnyard
105644                                     Framed Waterfall
73098                     Mornings with Judd (Second State)
54218                                                  Fish
208007                                            Headpiece
15299                                                   Cap
Name: title, dtype: object

One thing we might notice is that this is not formatted in the same way as our dataframe. Because our output is **one-dimensional**, pandas is outputting a **Series**. If it were a single value it would output a single data point (such as a string or a number type). When we make a two-dimensional selection, it will output a DataFrame.

We might also notice that the output only displays a few rows. When fetched in this way, Jupyter only exhibits the first and last few rows from the selection, but it has indeed fetched all of them.

To access **multiple columns**, we can include a **list** of column names in our request. Recall that lists are bounded by square brackets, and its items separated by commas. 

This results in a -slightly odd- double-bracket notation:

```python
df[['column_1','column_2']]
```

Let's fetch the title and medium of all rows from our DataFrame:

In [9]:
objects_table[['title','medium']]

,title,medium
0,Pewter Pitcher,graphite on paper
1,La soiree des Thuileries,etching and engraving
2,Haiku by Soseki,lithograph
3,A Leg and a Pig's Head,pen and brown ink with red chalk and graphite ...
4,Antonio Vassilacchi,color mezzotint
5,Pa. German Flat-iron Holder,graphite on paperboard
6,Le Protecteur,lithograph
7,Gaby in a Chaise Longue,color drypoint on wove paper
8,Dahlia,mezzotint
9,The Actor Smith (Portrat Schauspieler Smith),lithograph
10,Skin with O'Hara Poem,lithograph (stone) in 2 blacks on KE Albanene ...
11,Pensee philosophique,lithograph
12,Pa. German Birth Certificate,"watercolor, colored pencil, and graphite on pa..."
13,The Rape of Deianeira (formerly the Rape of Pr...,etching on laid paper
14,Fire in the Barnyard,lithograph in black on wove paper
15,Framed Waterfall,"spitbite, sugarlift, and soapground aquatint i..."
16,Mornings with Judd (Second State),"lift-ground etching, hardground etching, and e..."
17,Fish,"woodcut in three tones of gray-green, printed ..."
18,Headpiece,engraving on laid paper
19,Cap,graphite and watercolor on paperboard

As we can see, the output is indeed a DataFrame.

**Exercise 2:**  In the first empty cell below, select the column that returns the preferred display name of each person or entity from your people_table DataFrame. In the second empty cell below, make a selection of two columns, the preferred display name and the constituent type.

constituentid
12                    National Gallery of Art
82       Roosevelt, Cornelius Van Schaak, Mr.
193                  Bruce Fund, Ailsa Mellon
631                        Widener, Joseph E.
638                       Woodward Foundation
639                  United States Government
689                     Candillier, André, M.
819                       Mendez, Christopher
851                        Prouté, S.A., Paul
953                       Benton, Thomas Hart
1032                       Ames, Winslow, Mr.
1113                           Catlin, George
1209                          Daumier, Honoré
1555       Estabrook, John Nichols, Estate of
1513              Hauslohner, Robert A., Mrs.
1534           Hammer Foundation, Armand, The
1616              Associated American Artists
1674                        Crown Point Press
2136                            Johns, Jasper
2361                 Baudouin, Pierre-Antoine
2414                          Callot, Jacques
2492                             Escher, M.C.
2519                            Gavarni, Paul
2718                Rosenwald, Lessing Julius
3000                        Schut I, Cornelis
3059            Simonet, Jean-Baptiste Blaise
3305                          Villon, Jacques
4109                         Flory, Arthur L.
4591                           Lasinio, Carlo
4994                            Milton, Peter
5058                            Munch, Edvard
6903                               Steir, Pat
7209                       Anderson, Elmer G.
7854                            Meyers, Henry
7939                             Peszel, Jean
8089                            Staloff, Jack
9926                  Corcoran Gallery of Art
19567               Aquila, Francesco Faraone
19598                           Brown, Kathan
22425                       Sims Reed Limited
23136                              Christie's
26158                       Mellon Fund, Paul
26353          Universal Limited Art Editions
28397                              Berns, Ben
33776                        McPherson, Craig
34346           Williams, Dave H. and Reba W.
34877                       Miller, George C.
46560                     McDonnell, David H.
47310                                Labrelis
47311                    Vassilacchi, Antonio
Name: preferreddisplayname, dtype: object

                               preferreddisplayname constituenttype
constituentid
12                          National Gallery of Art       corporate
82             Roosevelt, Cornelius Van Schaak, Mr.      individual
193                        Bruce Fund, Ailsa Mellon   purchase_fund
631                              Widener, Joseph E.      individual
638                             Woodward Foundation       corporate
639                        United States Government       corporate
689                           Candillier, André, M.      individual
819                             Mendez, Christopher       corporate
851                              Prouté, S.A., Paul       corporate
953                             Benton, Thomas Hart      individual
1032                             Ames, Winslow, Mr.      individual
1113                                 Catlin, George      individual
1209                                Daumier, Honoré      individual
1555             Estabrook, John Nichols, Estate of       corporate
1513                    Hauslohner, Robert A., Mrs.      individual
1534                 Hammer Foundation, Armand, The       corporate
1616                    Associated American Artists       corporate
1674                              Crown Point Press       corporate
2136                                  Johns, Jasper      individual
2361                       Baudouin, Pierre-Antoine      individual
2414                                Callot, Jacques      individual
2492                                   Escher, M.C.      individual
2519                                  Gavarni, Paul      individual
2718                      Rosenwald, Lessing Julius      individual
3000                              Schut I, Cornelis      individual
3059                  Simonet, Jean-Baptiste Blaise      individual
3305                                Villon, Jacques      individual
4109                               Flory, Arthur L.      individual
4591                                 Lasinio, Carlo      individual
4994                                  Milton, Peter      individual
5058                                  Munch, Edvard      individual
6903                                     Steir, Pat      individual
7209                             Anderson, Elmer G.      individual
7854                                  Meyers, Henry      individual
7939                                   Peszel, Jean      individual
8089                                  Staloff, Jack      individual
9926                        Corcoran Gallery of Art       corporate
19567                     Aquila, Francesco Faraone      individual
19598                                 Brown, Kathan      individual
22425                             Sims Reed Limited       corporate
23136                                    Christie's       corporate
26158                             Mellon Fund, Paul   purchase_fund
26353                Universal Limited Art Editions       corporate
28397                                    Berns, Ben      individual
33776                              McPherson, Craig      individual
34346                 Williams, Dave H. and Reba W.          couple
34877                             Miller, George C.      individual
46560                           McDonnell, David H.      individual
47310                                      Labrelis      individual
47311                          Vassilacchi, Antonio      individual

**Question 1.** (Run the cell to see the question.)

In [57]:
question(Q1)

NameError: name 'Q1' is not defined

### Creating Copies from Bracket Selections

Because of the complex structures underlying dataframes, assigning square bracket selections to a variable  to create a new dataframe does not guarantee that you are acting on a copy or on the original. When you perform operations on your supposed copy, it will give you a warning message.

In [46]:
title_medium = objects_table[['title','medium']] # make a copy

In [47]:
title_medium['title']='' #replace the values in the title column with blanks

/Users/Felipe/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

To ensure that a copy is made, or to avoid the warning message, we should put a .copy() at the end of our command:

```python
df[['column_1','column_2']].copy()
```

In [48]:
title_medium = objects_table[['title','medium']].copy()

In [49]:
title_medium['title']=''

**Exercise 3** In the empty code cell below, create a new dataframe 'people2' that contains a copy of the selection of the two columns from people_table that give the preferred display name and the constituent type. Then run the subsequent code cell, which should not give you an error.

In [ ]:
people2['constituenttype']= None # Sets all values in column 'constituenttype' to None (NA or blank)

In [ ]:
solution(E3)

### Conditional selections: Square brackets with a Boolean for Selecting Rows

We can generate more complex selections combining square brackets and conditional statements. 

As can be seen below, using a boolean condition on a series returns a series of True/False values.

In [12]:
objects_table['beginyear'] > 1800

0      True
1     False
2      True
3     False
4     False
5      True
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14     True
15     True
16     True
17     True
18    False
19     True
Name: beginyear, dtype: bool

Knowing this, we can insert this into the square brackets nomenclature to make selections within a column. The syntax is a bit messy, requiring us to fully specify the condition, which requires calling the dataframe and column name together inside the brackets:

```python
df[df['columname']>0]
```
This specifictation will return all columns for the rows for which the condition is true.

So for instance, say we wanted to select all the columns for objects made after 1800:

In [51]:
objects_table[objects_table['beginyear']>=1800]

,title,beginyear,endyear,medium,classification
objectid,,,,,
25251,Pewter Pitcher,1936,1936,graphite on paper,Index of American Design
48032,Haiku by Soseki,1963,1964,lithograph,Print
15869,Pa. German Flat-iron Holder,1938,1938,graphite on paperboard,Index of American Design
131491,Gaby in a Chaise Longue,1906,1906,color drypoint on wove paper,Print
145006,Dahlia,1978,1979,mezzotint,Print
39440,The Actor Smith (Portrat Schauspieler Smith),1908,1909,lithograph,Print
55973,Skin with O'Hara Poem,1963,1965,lithograph (stone) in 2 blacks on KE Albanene ...,Print
114608,Pensee philosophique,1843,1843,lithograph,Print
15576,Pa. German Birth Certificate,1936,1936,"watercolor, colored pencil, and graphite on pa...",Index of American Design
70059,Fire in the Barnyard,1944,1944,lithograph in black on wove paper,Print
105644,Framed Waterfall,1991,1991,"spitbite, sugarlift, and soapground aquatint i...",Print
73098,Mornings with Judd (Second State),1970,1970,"lift-ground etching, hardground etching, and e...",Print
54218,Fish,1941,1941,"woodcut in three tones of gray-green, printed ...",Print
15299,Cap,1936,1936,graphite and watercolor on paperboard,Index of American Design

In [14]:
len(objects_table[objects_table['beginyear']>=1800])

14

The above has returned 14 rows. 

We can make add further complexityby including multiple conditions using the logical operators or (|) and and (&).

Say we want to include only the objects begun in the 1800s (thus excluding those made in the 20th and 21st centuries):

In [58]:
objects_table[(objects_table['beginyear']>=1800) & (objects_table['beginyear']<1900)]

                         title  beginyear  endyear      medium classification
objectid
196432           Le Protecteur       1800     1899  lithograph          Print
114608    Pensee philosophique       1843     1843  lithograph          Print

**Exercise 4** In the cell below, make a selection of all rows in the people_table where the constituent's nationality is "American". 

If you are having trouble, it might be helpful to first design the conditional statement, and then place it into a square-bracket selection structure. Remember that the conditional operator for equality is **not** a single equals sign, and to surround strings with quotes.

,Unnamed: 0,preferreddisplayname,lastname,artistofngaobject,nationality,constituenttype
constituentid,,,,,,
631,28,"Widener, Joseph E.",Widener,0,American,individual
953,53,"Benton, Thomas Hart",Benton,1,American,individual
1032,54,"Ames, Winslow, Mr.",Ames,0,American,individual
1113,55,"Catlin, George",Catlin,1,American,individual
1616,64,Associated American Artists,NaN,1,American,corporate
2136,66,"Johns, Jasper",Johns,1,American,individual
2718,71,"Rosenwald, Lessing Julius",Rosenwald,1,American,individual
4109,84,"Flory, Arthur L.",Flory,1,American,individual
4994,86,"Milton, Peter",Milton,1,American,individual
6903,88,"Steir, Pat",Steir,1,American,individual
7209,89,"Anderson, Elmer G.",Anderson,1,American,individual
7854,90,"Meyers, Henry",Meyers,1,American,individual
7939,91,"Peszel, Jean",Peszel,1,American,individual
8089,92,"Staloff, Jack",Staloff,1,American,individual
19598,97,"Brown, Kathan",Brown,1,American,individual
26353,104,Universal Limited Art Editions,NaN,1,American,corporate
28397,105,"Berns, Ben",Berns,1,American,individual
33776,106,"McPherson, Craig",McPherson,1,American,individual
34877,110,"Miller, George C.",Miller,1,American,individual

In [ ]:
solution(E4)

**Exercise 5** Now that you have successfully made a conditional selection, use the cell below to create another selection with two conditions. From the people_table, select only rows where the constituent is an American corporation. Remember to surround individual conditions in parentheses.

,Unnamed: 0,preferreddisplayname,lastname,artistofngaobject,nationality,constituenttype
constituentid,,,,,,
1616,64,Associated American Artists,NaN,1,American,corporate
26353,104,Universal Limited Art Editions,NaN,1,American,corporate

In [ ]:
solution(E5)

# Single-Axis selection alternative: Dot notation  (Not recommended)

An alternative to bracket notation is to use dots to refer to columns:

```python
df.column_name
```

**We do not recommend this system**, but you will find it used in other code and should be able to recognize it. The syntax is used frequently because it saves some typing, but it has several issues. It does not work when:

    - There are spaces in the column name
    - The column name is the same as a Dataframe method (ex. count)
    - The column name is a variable.
    
It is best to stick to the bracket notation.

---
## 2. Two-Axis selection:  ```.loc[]``` using labels

The options above were used to select data across one axis, for instance making a selection of some columns for all rows, or of all columns for some rows. 

```.loc[]``` allows us to create selection conditions based on both rows and columns, using their labels (the row indices and the column names).

The basic structure is:

```python
df.loc[rows,columns]
```
Where you supply information on the rows and columns you want to fetch. Like with square brackets, we can insert single values, lists, ranges and conditions into the brackets to create different types of selections. 

### Selecting a single cell with ```.loc[]```

Simply, you give the coordinates of the cell in terms of its row and column:

```python
df.loc[row_index,'columname']
```

**Exercise 6** In the cell below, using ```.loc[]``` notation, find the cell that gives the title of the object with id 73098.

'Mornings with Judd (Second State)'

In [24]:
solution(E6)

objects_table.loc[100,'title']

### Selecting a group of cells through .loc[] with lists

You can supply lists for the rows and/or columns if you want to make a selection from several of them. This once again leads to the unsightly double bracket, but works well:

```python
df.loc[[row1,row2,row3],['column1','column5']]
```

In [41]:
objects_table.loc[[73098,54218,48032],['title','medium']]

,title,medium
objectid,,
73098,Mornings with Judd (Second State),"lift-ground etching, hardground etching, and e..."
54218,Fish,"woodcut in three tones of gray-green, printed ..."
48032,Haiku by Soseki,lithograph

### Selecting ranges of cells through .loc[] with slicing

And, as we saw with lists and strings, we can also slice into a dataframe by giving ranges with a colon. 

```python
df.loc[row1:row3, column1:column5]
```
As with other instances of slicing, you can leave the slice partly blank to grab from beginning/to end. A colon by itself selects the whole range from beginning to end, and can be used to perform a single-axis selection while consistently using the .loc[] notation throughout your code.

In [59]:
objects_table.loc[:,'title']

objectid
25251                                        Pewter Pitcher
2856                               La soiree des Thuileries
48032                                       Haiku by Soseki
126911                               A Leg and a Pig's Head
48317                                   Antonio Vassilacchi
15869                           Pa. German Flat-iron Holder
196432                                        Le Protecteur
131491                              Gaby in a Chaise Longue
145006                                               Dahlia
39440          The Actor Smith (Portrat Schauspieler Smith)
55973                                 Skin with O'Hara Poem
114608                                 Pensee philosophique
15576                          Pa. German Birth Certificate
165147    The Rape of Deianeira (formerly the Rape of Pr...
70059                                  Fire in the Barnyard
105644                                     Framed Waterfall
73098                     Mornings with Judd (Second State)
54218                                                  Fish
208007                                            Headpiece
15299                                                   Cap
Name: title, dtype: object

In [61]:
objects_table.loc[:,'title':'medium']

,title,beginyear,endyear,medium
objectid,,,,
25251,Pewter Pitcher,1936,1936,graphite on paper
2856,La soiree des Thuileries,1774,1774,etching and engraving
48032,Haiku by Soseki,1963,1964,lithograph
126911,A Leg and a Pig's Head,1616,1617,pen and brown ink with red chalk and graphite ...
48317,Antonio Vassilacchi,1789,1789,color mezzotint
15869,Pa. German Flat-iron Holder,1938,1938,graphite on paperboard
196432,Le Protecteur,1800,1899,lithograph
131491,Gaby in a Chaise Longue,1906,1906,color drypoint on wove paper
145006,Dahlia,1978,1979,mezzotint
39440,The Actor Smith (Portrat Schauspieler Smith),1908,1909,lithograph
55973,Skin with O'Hara Poem,1963,1965,lithograph (stone) in 2 blacks on KE Albanene ...
114608,Pensee philosophique,1843,1843,lithograph
15576,Pa. German Birth Certificate,1936,1936,"watercolor, colored pencil, and graphite on pa..."
165147,The Rape of Deianeira (formerly the Rape of Pr...,1618,1655,etching on laid paper
70059,Fire in the Barnyard,1944,1944,lithograph in black on wove paper
105644,Framed Waterfall,1991,1991,"spitbite, sugarlift, and soapground aquatint i..."
73098,Mornings with Judd (Second State),1970,1970,"lift-ground etching, hardground etching, and e..."
54218,Fish,1941,1941,"woodcut in three tones of gray-green, printed ..."
208007,Headpiece,1704,1742,engraving on laid paper
15299,Cap,1936,1936,graphite and watercolor on paperboard

Slicing into ranges works both for numerical indices as well as other labels, such as the column names. The selection will follow the order in which these labels appear in the dataframe, not an order based on their content. That is, the columns are not selected alphabetically unless they have been thus sorted. This can lead to non-intuitive results when the index is not sorted by value.

### Conditional selections with .loc[] and Boolean conditions

Boolean series can be used in the manner described before to select from columns and rows. This is perhaps easier to read than with single-axis selections, because we are explicit about both rows and columns:

```python
df.loc[df['colname'] <  1, :]
```

In the example above, we selecting the rows that fulfill a condition, and all columns.

In [26]:
objects_table.loc[objects_table['beginyear']>1900,:]

,title,beginyear,endyear,medium,classification
objectid,,,,,
25251,Pewter Pitcher,1936,1936,graphite on paper,Index of American Design
48032,Haiku by Soseki,1963,1964,lithograph,Print
15869,Pa. German Flat-iron Holder,1938,1938,graphite on paperboard,Index of American Design
131491,Gaby in a Chaise Longue,1906,1906,color drypoint on wove paper,Print
145006,Dahlia,1978,1979,mezzotint,Print
39440,The Actor Smith (Portrat Schauspieler Smith),1908,1909,lithograph,Print
55973,Skin with O'Hara Poem,1963,1965,lithograph (stone) in 2 blacks on KE Albanene ...,Print
15576,Pa. German Birth Certificate,1936,1936,"watercolor, colored pencil, and graphite on pa...",Index of American Design
70059,Fire in the Barnyard,1944,1944,lithograph in black on wove paper,Print
105644,Framed Waterfall,1991,1991,"spitbite, sugarlift, and soapground aquatint i...",Print
73098,Mornings with Judd (Second State),1970,1970,"lift-ground etching, hardground etching, and e...",Print
54218,Fish,1941,1941,"woodcut in three tones of gray-green, printed ...",Print
15299,Cap,1936,1936,graphite and watercolor on paperboard,Index of American Design

Using conditionals with strings is a more efficient way to work on DataFrames, rather than looping through columns. We will see more of this in the final lesson, Power Up Your Python.

**Exercise 7** Use ```.loc[]``` notation on the people_table DataFrame to select the preferred display name and nationality of people who are artists of an NGA object.

In [65]:
objects_table

,title,beginyear,endyear,medium,classification
objectid,,,,,
25251,Pewter Pitcher,1936,1936,graphite on paper,Index of American Design
2856,La soiree des Thuileries,1774,1774,etching and engraving,Print
48032,Haiku by Soseki,1963,1964,lithograph,Print
126911,A Leg and a Pig's Head,1616,1617,pen and brown ink with red chalk and graphite ...,Drawing
48317,Antonio Vassilacchi,1789,1789,color mezzotint,Print
15869,Pa. German Flat-iron Holder,1938,1938,graphite on paperboard,Index of American Design
196432,Le Protecteur,1800,1899,lithograph,Print
131491,Gaby in a Chaise Longue,1906,1906,color drypoint on wove paper,Print
145006,Dahlia,1978,1979,mezzotint,Print
39440,The Actor Smith (Portrat Schauspieler Smith),1908,1909,lithograph,Print
55973,Skin with O'Hara Poem,1963,1965,lithograph (stone) in 2 blacks on KE Albanene ...,Print
114608,Pensee philosophique,1843,1843,lithograph,Print
15576,Pa. German Birth Certificate,1936,1936,"watercolor, colored pencil, and graphite on pa...",Index of American Design
165147,The Rape of Deianeira (formerly the Rape of Pr...,1618,1655,etching on laid paper,Print
70059,Fire in the Barnyard,1944,1944,lithograph in black on wove paper,Print
105644,Framed Waterfall,1991,1991,"spitbite, sugarlift, and soapground aquatint i...",Print
73098,Mornings with Judd (Second State),1970,1970,"lift-ground etching, hardground etching, and e...",Print
54218,Fish,1941,1941,"woodcut in three tones of gray-green, printed ...",Print
208007,Headpiece,1704,1742,engraving on laid paper,Print
15299,Cap,1936,1936,graphite and watercolor on paperboard,Index of American Design

In [ ]:
solution(E7)

## Two-axis selection alternative: ```df.iloc[]``` using integers

```.iloc[]``` works in a similar way to ```.loc[]```, but instead of supplying labels, we can supply positions. In that sense, it is less human-readable and may lead to more error. You will, however, encounter it in online solutions and other peoples' code, so it is worth knowing.

For instance, if we know that the 'title' column is in the 6th position, we can call the  cell in the 16th position. Notice that this is the same as the cell we called in  the first ```.loc[]``` example, which we called by the index, id, of 73098.

In [66]:
objects_table.iloc[16,0]

'Mornings with Judd (Second State)'

---
# Exporting Files with Pandas

Pandas allows us to export our dataframes into different types of files. Briefly, the commands for exporting to .csv, excel and .json files are as follows: 

### Saving to CSV

```python
df.to_csv('filename.csv',encoding='',index=False)
```
**Note:** index=False allows us to drop the index, which is useful if index was autocreated. Otherwise, as we export and import the data in successive sessions, we start accumulating old indices from previous sessions as new columns.

### Saving to Excel

```python
df.to_excel('filename.xlsx',sheet_name='sheet')
```

### Saving to JSON

```python
df.to_json('filename.json', orient='records')
```

---
# Lesson Summary

- Pandas organizes tabular data into DataFrames
- Import .csv and Excel spreadsheets with Pandas .read_csv() and .read_excel()
- You can assign row indices with .read_csv(file, index_col = 'column_name') or with df.set_index('column_name')
- There are multiple methods for accessing information in a dataframe:
    - single-axis (rows or columns): square brackets []
    - multi-axis (rows and columns: .loc[] using labels, .iloc[] using indices
    -  . notation - you should be familiar with it, but it is not recommended
- Conditionals can be used within these selections
- Finally, you can export DataFrames as files using df.to_csv(). df.to_excel() or df.to_json().

<div style="text-align:center">    
  <a href="08%20Functions.ipynb">Previous Lesson: Functions</a>|
   <a href="10%20Pandas%20II.ipynb">Next Lesson: Pandas II</a>
</div>