# Pandas: Making the most of your Tabular Data

(Adapted from [Eric Monson's taped workshops], see resources below)

There are several ways one could structure CSV data, such as in lists of lists, combinations of dictionaries and lists, or numpy arrays, but the Pandas module provides an efficient functionality for working with tabular data (i.e., spreadsheets) such as .csvs or Excel files.

We have seen the Pandas Dataframe in previous lessons; in this lesson, we learn how to access, analyze, restructure and visualize data within Dataframes.

## Lesson Goals

- **Import** .csv and Excel spreadsheets with Pandas
- Assign row **indices**
- Access information through **[]**, **.loc[]**,.iloc[] and recognize . notation
- Select data within columns with conditionals
- Perform math on columns and rows
- Understand Tidy Data and pivot using **df.melt()**
- Join and append tables through **df.merge()** and **df.append()**
- Understand basics of **visualizing dataframes** in Pandas

**Key Concepts:** DataFrame, Series, index, Tidy data, join

In [ ]:
# import exercises for this lesson
from QuestionsPandas import Q1, Q2, Q3, question, solution

# Importing Files with Pandas

Pandas works well for importing CSV files and Excel spreadsheets.

We have imported CSVs before, in the 'Files' lesson of our course. As a refresher, the basic command is:

```python
file = pd.read_csv('filename.csv', 'r')
```

Where we are using the read_csv() method and assigning the object created to the variable 'file'.

Similarly, Pandas has another command for importing Excel spreadsheets. Excel files have the added complication that they can hold many spreadsheets at once, so you may have to specify the sheet in question:

```python
file = pd.read_excel('file.xlsx', sheet_name= 'sheetname')
```

Let's import an Excel spreadsheet to use as an example for this lesson.

In [ ]:
import pandas as pd

objects_table = pd.read_excel('Other_Files/NGAData.xlsx', sheet_name= 'objects')

# Exporting Files with Pandas

Pandas allows us to export our dataframes into different types of files. Briefly, the commands for exporting to .csv, excel and .json files are as follows: 

### Saving to CSV

```python
df.to_csv('filename.csv',encoding='',index=False)
```
index=False to drop index (useful if index was autocreated)

### Saving to Excel

```python
df.to_excel('filename.xlsx',sheet_name='sheet')
```

### Saving to JSON

```python
df.to_json('filename.json', orient='records')
```

# An initial view of the DataFrame

We can gauge the contents of the dataframe in a few ways, upon opening it. Pandas offers a few methods that can help.

```df.head()``` and ```df.tail()``` allow us to see the first and last rows of the dataframe, respectively.

In [ ]:
objects_table.head(n=3)

In [ ]:
objects_table.tail(n=3)

As we can see, this helps us get a first view of the dataframe, but our dataframe is too wide to show all  columns. We can generate a list of columns with  ```df.columns```.  

**Note:** You might notice that this command does not have a parenthesis; that is because it is an attribute of the dataframe, not a method (function).

In [ ]:
objects_table.columns

# The Pandas Dataframe

> **Pandas Series:** One-dimensional container for string or numerical data. Each series has an index and potentially a name, as well as a data type.

> **Pandas DataFrame:** Two-dimensional tabular structure with labels (rows and columns), where each column is a series.

Columns in a Pandas DataFrame are each a Series, with a name (the column header) and an index.  Series are ordered by their index, so all columns are aligned by this common value, preserving the integrity of rows. 

One of the advantages of the DataFrame is that it allows us to store different types of values in different columns, including numbers, strings, and null values. Each column has a data type, which you can check using ``` df.dtypes```:

In [ ]:
objects_table.dtypes

# Specifying the index

If you do not specify an index for rows, Pandas will create an integer index, as it did above (the column 'Unnamed:0').

In [ ]:
objects_table.index

We can also **specify an index**. They do not have to be numbers: they can be any identifier including integers, strings or dates. We can even use a column with non-unique values, but this might cause difficulties later on.

There are two ways to specify an index: we can do so when we create the DataFrame, or after it has been created. 

To specify **when creating** the dataframe, add the following tag when using read_csv (or equivalent):

```python
df = pd.read_csv('filename.csv', index_col = 'col_name')
```

You can use the column's label or its position.

To specify an index **after creating** the DataFrame, use:

```python
df = df.set_index('index_column_name')
```

By now, you should understand that we are reassigning the variable 'df' to this updated dataframe.

Alternatively, using

```python
df.set_index('Year', inplace=True)
```

would allow us to forgo that reassignment.

Let's specify our DataFrame's index as objectid:

In [ ]:
objects_table = objects_table.set_index('objectid')

**Exercise 1** Use the code cell below to specify the same index using the 'inplace' tag:

In [ ]:
solution(Q1)

# Accessing Information in DataFrames

Pandas dataframes align data using labels and integers. We can call data in a cell, column or row by using one of these two properties. 

There are different, overlapping ways to do this.

We will focus on **square brackets** notation for making selections on **one axis**, and **.loc[]** for making selections specifying **two axes**, i.e. both rows and columns. Both these approaches allow us to insert single values, lists, ranges and conditional statements to create different types of selections. Additionally, the .loc[] notation can be used for single-axis selections, if combined with empty ranges (:), as explained below. 

We will also introduce a few other methods because you will encounter them in documentation and existing examples (and there are more!). But we recommend sticking to the methods developed in detail. 

## 1. One-dimensional indexing: **Square Brackets []**

Using square brackets alone, you can perform selections of different types based on one dimension, columns.  It can get complex because it will yield differing output depending on what you put into the square brackets.

### Square Brackets with Column Names

To fetch a **single column**, simply specify the **column name** inside square brackets. 

```python
df['column_name']
```

For instance, let's fetch the 'title' column from our dataframe using this notation:

In [ ]:
objects_table['title']


One thing we might notice is that this is not formatted in the same way as our dataframe. Because our output is **one-dimensional**, pandas is outputting a **series**. If it were a single value it would output a single data point (such as a string or a number type). 

When we make a two-dimensional selection, it will output a dataframe.

We might also notice that the output only displays a few rows. When fetched this way, Jupyter only exhibits the first and last few rows from the selection, but it has indeed fetched all of them. 

To access **multiple columns**, we can include a **list** of column names in our request. Recall that lists are bounded by square brackets, and its items separated by commas. 

This results in a -slightly odd- double-bracket notation:

```python
df[['column_1','column_2']]
```

Let's fetch the title and medium of all rows from our DataFrame:

In [ ]:
objects_table[['title','medium']]

As we can see, the output is indeed a dataframe.

### Creating Copies from Bracket Selections

Because of the complex structures underlying dataframes, using this method to create a new, temporary dataframe by variable assignment does not guarantee that you are acting on a copy or on the original. This will give you a warning message.

In [ ]:
title_medium = objects_table[['title','medium']]

In [ ]:
# Message no longer appears-- did they fix this??

To ensure that a copy is made, or to avoid the warning message, we have two options:

One option is to put a .copy() at the end of our command:

```python
df[['column_1','column_2']].copy()
```

Or, better yet, use dataframe.loc(), explained later.

### Square Brackets with Ranges (Slicing)

We can use slicing, as we did with lists and strings, to access ranges of rows within our data. 

```python
df[a:b]
```
Will access rows a to b of our dataframe (all columns). Unlike with Python lists and strings, the start and end number are included. 

Let's put this to the test. In the cell below, fetch rows 1-20 in objects_table:

In [ ]:
objects_table[__]

We can also leave the start or end point blank, which will take everything from the beginning or to the end of the dataframe, respectively. 

In the cell below, fetch rows 0-100 by leaving part of the range blank.

In [ ]:
objects_table[]

Both approaches using square brackets can be placed side by side to make selections affecting rows and columns.

In [ ]:
objects_table[0:100][['title','medium']]

### Conditional selections: Square brackets with a boolean series for multiple rows, all columns

Using a boolean condition on a series returns a series of True/False values.

In [ ]:
objects_table['beginyear'] > 1600

Knowning this, we can insert this into the square brackets nomenclature to make selections within a column. The syntax is a bit messy, requiring us to fully specify the condition, which requires calling the dataframe and column name together:

```python
df[df['columname']>0]
```
This will return only the rows for which the condition is true.

So for instance, say we wanted to select all the columns for objects made after 1600:

In [ ]:
objects_table[objects_table['beginyear']>1600]

The above has returned 121,110 rows. 

We can make much more complex selections by including multiple conditions using bitwise operators for or (|) or and (&).

Say we want to include only the objects begun in the 1600s:

In [ ]:
objects_table[(objects_table['beginyear']>1600) & (objects_table['beginyear']<1700)]

## Single-Axis selection alternative: Dot notation

An alternative to bracket notation is to use dots to refer to columns:

```python
df.column_name
```

We do not recommend this system, but you will find it used in other code and should be able to recognize it. The syntax is used frequently because it saves some typing, but it has several issues. It does not work when:

    - There are spaces in the column name
    - The column name is the same as a Dataframe method (ex. count)
    - The column name is a variable.
    
It is best to stick to the bracket notation.

## 2. Two-Axis selection:  ```.loc[]``` using labels

The options above were used to select data across one axis, for instance making a selection of columns or within columns. 

```.loc``` allows us to create selection conditions based on both rows and columns, using their labels (the column names and the row index).

The basic structure is:

```python
df.loc[ rows, columns]
```
Where you supply information on the rows and columns you want to fetch. Like with square brackets, we can insert single values, lists, ranges and conditions into the brackets to create different types of selections. 

### Selecting a single cell with ```.loc[]```

Simply, you give the coordinates of the cell in terms of its row and column:

```python
df.loc[row_index,'columname']
```

**Exercise 2** In the cell below, using loc notation, find the cell that gives the title of the object with id 100.

In [ ]:
solution(Q2)

### Selecting a group of cells through .loc[] with lists

You can supply lists for the rows and/or columns if you want to make a selection from several of them. This once again leads to the unsightly double bracket, but works well:

```python
df.loc[[row1,row2,row3],['column1','column5']]
```

In [ ]:
objects_table.loc[[1,10,15],['title','medium']]

### Selecting ranges of cells through .loc[] with slicing

And, as we saw with lists and strings, we can also slice into a dataframe by giving ranges with a semicolon. 

```python
df.loc[row1:row3, column1:column5]
```
As with other instances of slicing, you can leave the slice partly blank to grab from beginning/to end. A colon by itself means to grab the whole range, and can be used to perform a single-axis selection and consistently use the .loc[] notation throughout your code.

In [ ]:
objects_table.loc[1:10,'title':'medium']

Slicing into ranges works both for numerical indices as well as other labels, such as the column names. The selection will follow the order in which these labels appear in the dataframe, not an order based on their content. This can lead to non-intuitive results when the index is not sorted by value. We look at sorting further on in this lesson.

We can also use an empty range for the rows or columns to select all, while still maintaining the .loc[] notation:

In [ ]:
objects_table.loc[:,'title']

### Conditional selections with .loc[] and Boolean conditions

Boolean series can be used in the manner described before to select from columns and rows. This is clearer perhaps than when used before, because we are explicit about both axes:

```python
df.loc[df['colname'] <  1, :]
```

In the example above, we create a condition on a column and select all rows that fulfil this condition.

In [ ]:
objects_table.loc[objects_table['beginyear']>1900,:]
# conditional example (with selection of subset of columns?)

Using conditionals with strings is a more efficient way to work on dataframes, rather than looping through columns.

For instance, instead of using a for loop to ...

## Two-axis selection alternative: ```df.iloc[]``` using integers

.iloc[] works in a similar way to ```.loc[]```, but instead of supplying labels, we can supply positions. In that sense, it is less human-readable and may lead to more error.

For instance, if we know that the 'title' column is in the 6th position, we can call the  cell in the 100th position. Notice that this is not the same as the cell we called in  the first .loc[] example, which we called by the index, id, at 100.

In [ ]:
objects_table.iloc[100,6]

# Editing & Cleaning DataFrames

Oftentimes, we will need to edit the columns and rows in a table in different ways. In this section, we will look at sorting dataframes, adding and removing columns, joining datasets and removing duplicate values, as well as simple math functions.  

## Sorting Dataframes

sort_values() is the method for sorting dataframes according to a column's contents. When applying this, we must note that it is not affecting the original dataframe. Thus, we either have to assign our modified dataframe to a variable or specify that we want the method to modify the original values.

We should be familiar with assigning variables by now:

```python
df2= df2.sort_values('column') 
```

In this case, we are reassigning the original dataframe variable to its new value, a common approach.

Alternatively, through the in_place keyword, we can modify the dataframe directly.

```python
df2.sort_values('column, in_place = True) 
```

The default is to sort by ascending order; to change to descending, we must specify ascending g=False.

In [ ]:
#example

## Adding and Removing columns

To add a column, just call an unassigned column name with bracket notation and specify the desired value for all cells.

```python
df['newname'] = x
```

To remove a column, use the df.drop() method:

```python
df = df.drop('column_name', 1)
```
Once again, you have to reassign the variable or specify in_place=True.
You must also specify the axis: 1 refers to columns, 0 to rows).

## Joining and Appending Datasets

Often we will find ourselves with two related tables that we want to combine in order to analyze them together. We might have two tables with **different variables for the same observations**; in this case, we can **join** them. Joining two tables results in a table that adds variables (columns) to existing records. 

> Join: A join combines rows in one or more tables based on common values

Alternatively, we might have two tables with the **same variables, and different observations**. In this case, we might want to add rows at the end of one table. For this, we **append** information to a DataFrame.

> Appending adds rows with like columns to a table.

### Joining Tables

We can join two dataframes based on a common key: Python will identify rows in both tables with the same key and output a new table with variables from both tables for that key.

There are 4 types of joins. Suppose we have two tables, left and right:

|Types of Joins ||
--------------|-----|
|Left| Keeps all rows in the left table, and will join these to rows in right table with a matching key.|
|Inner| Only gives us rows with matching in both tables (will also drop Left-only rows)|
|Outer| Returns all rows from both tables, regardless of if they have a match.|
|Right| Returns all rows in righ table, joined to any rows with a matching key from the left table.|

Be conscientious about the type of join you employ, as it will determine  the table(s) from which you might lose records.

The method for joining dataframes is ```df.merge()```, and it is specified in this way:

```python
df3 = df1.merge(df2, how='left', on='state')
```
The 'how' keyword specifies the type of join to execute, where df1 acts as the left table, and df2 acts as the right. 

The keyword 'on' determines the name of the common key. If the names of the key columns are not the same in both tables, you can use left_on and right_on to specify.

Let's import some information to join to our objects_table.

In [ ]:
people_table = pd.read_csv('Other_Files/NGAData/constituents.csv',low_memory=False)
join_table = pd.read_csv('Other_Files/NGAData/objects_constituents.csv')

These tables are from a relational database, and objects_table and people_table are intended to be merged with the join_table. The join table consists of rows with  identifiers from both tables, as well as some attributes that describe the relationship.

So to relate 'objects' to 'people', we will have to realize two joins.

In [ ]:
join1 = objects_table.merge(join_table, how='left', on='objectid')

**Exercise 3:** Edit the code cell below to perform the second join by linking our first joined table (join1) to the people_table using a 'left' join and the key called 'constituentid'. 

If you want to check your answer in a new cell by calling join2, note that the object information should be first, followed by the relationship, then the person.

In [ ]:
join2 = ____._____(______,how='____', on='______')

In [ ]:
join2 = join1.merge(people_table,how='left', on='constituentid')

In [ ]:
join2.columns

In [ ]:
solution(Q3)

Now, if we make selections from the new table, we can make relating the contents of both tables.

For instance, we can check the museum's holdings of works by a certain artist:

In [ ]:
join2[join2['constituentid']==1400][['title','preferreddisplayname']]

### Appending Datasets

To append datasets together, that is, to add one table as new rows in another, you need two tables with the same column structure.

Then, you use the ```df.append()``` method:

```python
df1.append(df2)
```

This method also accepts dictionaries and other series, in lieu of a second dataframe. For more information, consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html).

### Removing duplicate values

Another useful method, available for dataframes or series, is the option of finding only unique values.

For the full dataframe, this is is done with the df.drop_values() method.

```python
df2 = df.drop_values('columnname')
```
This will return a selection of rows without repeating the values in the column.

The series.unique() method will return a list of unique values within a single column:

on
df['clumn_name'].unique()
```

For instance, we can generate a list of artists represented in the NGA collection, and count them:

In [ ]:
artists = people_table[people_table['artistofngaobject']==1]['preferreddisplayname']
artists = artists.unique()
artists = artists.tolist()
len(artists)

# Math on DataFrames

Series and DataFrames have mathematical methods associated to them like ```sum()```,```mean()```, ```median()```,```max()```, ```min()```...

In Pandas, math is applied efficiently to columns or rows. It is applied down columns by default. To act upon rows, you must specify otherwise by including axis=1 inside the parentheses.

Strings are ignored or handled in a logical way. NaN/Null values are ignored by default, instead of causing errors.

Dataframes have mathematical methods: 

```python
df.sum()
```

In [12]:
print(objects_table.mean())

Unnamed: 0               6.665300e+04
objectid                 8.346919e+04
accessioned              9.999325e-01
objectleonardoid         5.729338e+04
locationid               8.192791e+03
beginyear                1.856291e+03
endyear                  1.867600e+03
isiad                    1.369245e-01
canshowimagery           9.643155e-01
parentid                 1.022548e+05
thumbnailsprohibited     3.568455e-02
maxderivativeextent      4.471893e+03
zoompermissiongranted    5.246311e-01
isvirtual                2.145424e-03
ispublic                 1.000000e+00
locationcomponentid      8.246865e+04
fingerprint              5.071287e+06
dtype: float64

As do single columns, because they are series.

```
df['column'].sum()
```

In [11]:
print(objects_table['beginyear'].mean())

1856.2910733102515

In [ ]:
# formatting the above two examples to be legible?

You can also use operators to act upon values in columns. For instance:
    
```python
df['newcolumn'] = df['column1'] + df['column2']
```
Which returns a series of answers (adds cells in same row).

In [ ]:
df.transpose()
df.to_dict()
df.to_numpy()
df.to_json()
df.to_csv()

groupby

# Basic Plotting with Pandas

# Plotting functions

Dataframes also come with the plot() method, which allows us to create different types of graphs. 

There are two ways to access the plot method, either including the graph type in parenthesis or including it with a dot:

```python
df.plot(kind='line', x='column', y=['column1', 'column2'])
df.plot.line(x='column',y=['column1', 'column2'])
```

Plotting in Pandas is like plotting in excel: one column will be X values, all others will be Y. (Wide format, vs Tableau, Altair, Seaborn which require tall/tidy data: year in one column, field in another and one type of data per column. 

If we specify X in pandas, it will by default take all other columns for Y.

; gets rid of text output before plot.


# Bar Chart

df.mean() (of each column)

df.mean().plot.bar() vertical
df.mean().plot.barh() horizontal

Sorted bar charts
vertical bar charts go left to right, horizontal from down to up

df.mean().sort_values(ascending=False).plot.bar();

df.mean().sort_values().plot.barh();

# Histogram

df.hist() gives you a grid of all your different columns and a histogram of each of those. 10 bins by default. Shows you all range by default, not consistent x-y values through graphs. There is an argument for same axis on all

df.hist(sharex=True, sharey=True, layout(2,3), figsize=(10,5));

Another way to do it is
df.plot.hist()
Gives you something different: one set of axes and bins, different colors for multiple columns. you can set the alpha value down to make transparent. 

# Box Plot

df.plot.box()

Sort works the same, but took median separately, sorted it and then used their index to create a sorted list of column names.

horizontal box plot
df.plot.box(vert=false) -- different from bar charts

Syntax of plots are all slightly different, so powerful but there are better modules.

# Further Resources: 
    
Eric Workshops:

https://library.capture.duke.edu/Panopto/Pages/Viewer.aspx?id=28e9066b-d529-438e-9b23-aab600ef4e4a
    
[Eric Monson, _Python for Data Science: Pandas 102_](https://library.capture.duke.edu/Panopto/Pages/Viewer.aspx?id=b58ecfc9-c626-44da-aa77-ab5201548f09)

[Eric Monson's Pandas & JupyterLab GitHub Repository](https://github.com/emonson/pandas-jupyterlab)
        
[Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)

[Pandas Cheatsheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)